body {
}
.mensaje {
    text-align: center;
    font-size: 1.4rem;
    margin: 15px;
    color: #C45F2E;
}
.portada {
    background-color: #D2E3EB;
    height: auto;
    padding: 12px;
    text-align: center;
}

#titulo {
    color: #24566E;
    font-size: 2.0rem;
}
