.portada {
    background-color: #D2E3EB;
    height: auto;
    padding: 20px 0;
    text-align: center;
   /* margin-top: 60px;*/
}

#titulo {
    color: #24566E;
}

.formulario {
    display:flex;
    width:100vw;
    /*background:rgb(0, 148, 255);*/
    height:100%;
    color:#fff;
}


.titulo{
    font-size:30px;
    margin
}

.row {
    margin: auto;
    margin-top: 15px;
    background: #C45F2E;
    width: 500px;
    min-height: 600px;
    padding: 30px;
    flex: 1 1 300px;
    max-width: 600px;
    justify-self: center;
}

div.col-4{
    width:100%;
    height:fit-content;
}


