body {
}
.portada {
    background-color: #D2E3EB;
    height: auto;
    padding: 20px 0;
    text-align: center;
    /*  margin-top: 60px;*/
}

#titulo {
    color: #24566E;
}

.volver {
    height: 26px;
    width: 26px;
}

.btnVolver{
    padding-bottom: 30px;
}

