* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
.portada {
    background-color: #D2E3EB;
    height: auto;
    padding: 20px 0;
    text-align: center;
    /*  margin-top: 60px;*/
}

#titulo {
    color: #24566E;
}

.volver {
    height: 26px;
    width: 26px;
}

.btnVolver{
    padding-bottom: 30px;
}

/* SECCION COMENTARIOS */
.comentarios {
    font-family: roboto,sans-serif;
    font-weight: 600;
    margin-top:20px;
    background-color: rgb(243, 157, 113);
    border: 10px solid rgb(223, 121, 80);
    border-radius: 10px;
    position: relative;
}

.comentario {
    margin: 10px auto;
    position: relative;
    margin-left: 50px;
    background-color: rgb(245, 245, 229);
    border-radius: 8px;
}

    .comentario p {
        font-family: roboto, sans-serif;
        display: block;
        position: relative;
        padding: 10px;
        text-align: left;
    }

.imgUser {
    position: relative;
    left: 10px;
    height: 40px;
    width: 40px;
    border-radius: 50%;
    border-style: groove;
    border-color: rgb(100, 120, 236);
}

.cabecera {
    display: flex;
    width: 100%;
    color: aliceblue;
    font-weight: 600;
    margin-top: 10px;
    position: relative;
}

    .lbNombre {
        font-size: 1.08rem;
        margin-left: 14px;
        margin-top: 2px;
        padding:5px;
    }

.fecha {
    display: block;
    position: relative;
    font-size: .8rem;
    margin-left: 14px;
    margin-top: .6rem;
    overflow:clip;
}

.nuevoComent {
    font: roboto, sans-serif;
    position: relative;
    margin: 20px auto;
    border: 10px solid rgb(223, 121, 80);
    border-radius: 10px;
    padding: 10px;
    background-color: rgb(243, 157, 113);
}

.Usuario {
    color: rgb(252, 252, 252);
    left: 0px;
    bottom: 10px;
    font-weight: 600;
}

.Campo {
    position: relative;
    resize: none;
    text-align: left;
}

textarea.form-control:focus {
    padding: 10px;
    text-indent: 0;
    text-align: left;
}

.containerBtn {
    display: flex;
    justify-content: flex-end;
    margin-top: 6px;
}