body {
}

.portada {
    background-color: #D2E3EB;
    height: auto;
    padding: 20px 0;
    text-align: center;
    /*margin-top: 60px;*/
}

#titulo {
    color: #24566E;
}


.divMascota {
    height: 100px;
    width: 150px;
}


.imgMascota {
    width: 100%;
    height: 100px;
    object-fit: contain;
    object-position: center;
    background-color: #C45F2E;
    border: 2px solid #24566E;
    margin: 0;
}

.row, .content {
    margin: 20px auto;    
    height: 100px;
    /*
    display:flex;
    justify-content:space-around;
        */
    align-items: center;
}

.content {
    background-color: #D2E3EB;
}


.btn {
    color: #24566E !important;
    background-color: #D2E3EB !important;
    padding: 4px 8px !important;
    border-radius: 10px !important;
    border: 2px solid #24566E !important;
}

.btn:hover {
    color: #24566E !important;
    background-color: #C45F2E !important;
}

