body {
}

.portada {
    background-color: #D2E3EB;
    height: auto;
    padding: 20px 0;
    text-align: center;
    /*margin-top: 60px;*/
}

#titulo {
    color: #24566E;
}

.historias_container {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-content: center;
    justify-content: center;
    align-items: center;
}

.div_historia {
    margin: 50px 0;
}
.contenido-texto {
    background-color: beige;
    border-radius:15px;
}

/*
.divImagen {
    height: 250px;
    width: 300px;
    border-radius: 50px;
    align-content: center;
}*/
#imgHistoria {
    height: 350px;
    overflow: hidden !important;
    margin-left: 0px;
}

.nombre-fecha {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    margin-bottom: 30px;
    text-align: left;
}

#fecha {
    color: #24566E;
    font-size: 15px;
}

#nombreUsuario {
    margin-top: 30px;
    margin-left: 15px;
    color: #24566E;
    font-size: 18px;
    text-transform: capitalize;
}
