body {
    width: 100%;
    margin: 0;
}

.portada {
    background-color: #D2E3EB;
    height: auto;
    padding: 20px 0;
    text-align: center;
    /*margin-top: 60px;*/
}

#titulo {
    color: #24566E;
}

.contenidoHistorias, .formularioOculto {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.div_historia, .contenidoForm{
    margin: 50px 0;
    width: 70%;
    border: 0;
    align-self: center !important;
}

.contenido-texto {
    background-color: beige;
    border-radius: 15px;
}

#imgHistoria {
    height: 350px;
    width: auto;
    object-fit: contain;
    overflow: hidden;
    background-image: url("https://www.shutterstock.com/shutterstock/videos/1077938252/thumb/1.jpg?ip=x480");
    background-repeat: repeat;
    /*background-size: cover;*/
}
