html {
    height: 100%;
    margin: 0;
    padding: 0;
}
body {
    min-height: 100%;
    min-height: 100vh;
}
.bg-orange {
    /*background-color: #f27600 !important;*/
    background-color: #D1561B !important;
}

.navbar .navbar-nav .nav-link {
    color: white !important;
    
}