*{
    box-sizing:border-box;
}


body {
    background-color: aliceblue;
    font-family: 'Roboto', sans-serif;
    font-size:1.3rem;
}
ul{
    list-style:none;
}

#btnSideBar{
    position:fixed;
    z-index:10;
}

.offcanvas-body>ul>li{
    padding:8px;
    margin-top:2px;
    font-size:1.3rem;
}
a{
    text-decoration:none;
    color:aliceblue;
}

#offcanvasScrolling{
     background-color:rgb(248, 105, 41);
     color:#fff;
}

#imgHistoria{
    display:block;
    max-width:500px;
}

.contenedorImgPerfil {
    display: flex;
    justify-content: space-around;
}

.imgPerfil {
    display: block;
    max-width: 250px;
    border-radius:50%;
    padding:30px;
}
#lbImgPerfil{
    align-self:center;
}

.perfil{
    max-width:500px;
    margin:200px auto;
}

.perfil>.form-label{
    width:50%;
}