*{
    box-sizing:border-box;
}

.titulo{
    text-align:center;
    font-size:2.4rem;
    margin:10px auto;
    padding:20px;
}

.leyenda{
    text-align:center;
}

body {
    background-color: aliceblue;
    font-family: 'Roboto', sans-serif;
    font-size:1.3rem;
}
ul{
    list-style:none;
}

#btnSideBar{
    position:fixed;
    z-index:10;
}

.offcanvas-body>ul>li{
    padding:8px;
    margin-top:2px;
    font-size:1.3rem;
}
a{
    text-decoration:none;
    color:aliceblue;
}

#offcanvasScrolling{
     background-color:rgb(248, 105, 41);
     color:#fff;
}

#imgHistoria{
    display:block;
    max-width:500px;
}

.contenedorBotones {
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
    gap: 15px;
}

.botonPad {
    padding:10px;
}

.contenedorImgPerfil {
    display: flex;
    flex-flow:column wrap;
    align-items:center;
    justify-content: space-around;
}

.imgPerfil {
    display: block;
    max-width: 250px;
    border-radius:50%;
    padding:30px;
}
#lbImgPerfil{
    align-self:center;
}

.perfil{
    max-width:500px;
    margin:100px auto;
}
.divForm{
    max-width:500px;
}

.formbody{
    width:50%;
}

.perfil>.form-label{
    width:50%;
}

.card-img-top {
    width: 100%;
    height: 200px;
    object-fit: contain;
    object-position: center;
    background-color: #D2E3EB;
}

.card {
    margin: 20px 10px !important;
    height: 400px !important;
    position: relative;
}

.custom-btn {
    position: absolute;
    bottom: 8px;
    color: #24566E;
    background-color: #D2E3EB;
    padding: 4px 8px;
    border-radius: 10px;
    border: 2px solid #24566E;
}

    .custom-btn:hover {
        color: #24566E;
        background-color: #C45F2E;
        border: 2px solid #24566E;
    }

.content-text {
    height: 120px;
    margin-top: 0;
    overflow-y: scroll;
    text-overflow: ellipsis;
}
